<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inkasign</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inkasign.styles.css" asp-append-version="true" />
</head>
<body class="bodyL">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex align-items-center justify-content-between">               
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo.jpg" alt="" height="50"></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inkasign Outlet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Nosotros" asp-action="Index">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Contacto">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">Catálogo</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <form action="/Catalogo" method="post">
                        <div class="form-outline">
                        <input type="text" id="searchString" class="form-control" placeholder="Buscar" aria-label="searchString" name="searchString"/>
                        </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Ml81b6msuNDr_eZuWXYtuq39Uo5EE6nxJhT2OLQ2lptNPNfenU_SxI0m6fpXOjdUXPSYsKtG0iETwEdrjNuhzC6B1HoTukXyrP6VsiOmc7Iv_qzDvt3n7Oo4ych-59R6Bbwji-xGui8P66x7uNULzU" /></form>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

 <footer class="bg-dark text-center text-white">
  <div class="container">
           <p>Horario de Atención: 09:00am-18:00pm</p>
        </div>
        <div>
          <h6> Síguenos en nuestras redes sociales:</h6>
          <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/inkasign.outlet" role="button">
          <img src="/images/facebook.png" width="25px" heigh="25px"></i> Facebook</a>
          <a class="btn btn-light" style="background-color: white; color:black;" href="https://www.instagram.com/inkasign.outlet/" role="button">
          <img src="/images/instagram.png" width="25px" heigh="25px"></i> Instagram</a>
          <a class="btn btn-success" style="background-color: #00bb2d; color:white;" href="https://wa.link/a3ptex" role="button">
          <img src="/images/whatsapp.png" width="24px" heigh="24px"></i> Whatsapp</a>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 INKASIGN OUTLET COPYRIGHT:
          <a class="text-reset fw-bold" href="/Nosotros/Index">Privacidad</a>
        </div>
  </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>


