 @{
    ViewData["Title"] = "Nosotros";
}

<section id="portfolio">
    <ul class="tabs">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>INFORMACIÓN ACERCA DE LA EMPRESA</h1>
          </div>
          <div class="col-md-12 text-center">
            <a class="portfolio-item" style="background-image: url(images/carrusel3.jpeg); height:450px; width:1300px">
              <div class="details">
                <span style="font-size: 19px;">Somos una empresa que se dedica a la venta de prendas y accesorios en fibra de alpaca, algodón orgánico y mezclas. Con una servicio personalizado. Y además nuestra de
                maquinaria ecológica de última generación es respetuosa con el medio ambiente, capaz de producir hasta 120 000 prendas al año.</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ul>
</section>



<section id="portfolio">
    <ul class="tabs">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-4">
            <h2 align="center">Historia:</h2>
            <a class="portfolio-item" style="background-image: url(images/logo.jpg); height:310; width:400px">
              <div class="details">
                <span style="font-size: 19px;"> Inkasign Outlet es una empresa orientada al rubro textil, que se dedica a la elaboración/expotación de prendas de fibra de alpaca, algodón orgánico y mezclas para mujeres y hombres, la cual lleva en el mercado cerca de 15 años trabajando arduamente.</span>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <h2 align="center">Misión:</h2>
            <a class="portfolio-item" style="background-image: url(images/carrusel4.jpeg); height:310; width:400px">
              <div class="details">
                <span style="font-size: 19px;"> Ofrecer productos de alta calidad incentivando el consumo de textilería peruana, a través de diseños innovadores, creativos, hechos con dedicación y acorde a la accesibilidad del mercado.</span>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <h2 align="center">Visión:</h2>
            <a class="portfolio-item" style="background-image: url(images/carrusel2.jpeg);height:310; width:400px">
              <div class="details">
                <span style="font-size: 17px;"> Posicionarnos en el mercado como una empresa exitosa y socialmente responsable con gran reconocimiento a nivel nacional gracias a nuestros productos, calidad, precios y servicio, siempre respetando los derechos y el trabajo tanto de nuestros colaboradores como de nuestros clientes, para asi seguir creciendo y poder ofrecer nuestros productos en todo el interior del país.</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ul>
</section>

<div class="row">
  <div class="col-md-12">
    <h1>Los principios que nos guían</h1>
  </div>
</div>

<section id="portfolio">
    <ul class="tabs">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-4">
            <h2 align="center">Actuamos</h2>
            <a class="portfolio-item" style="background-image: url(images/actuamos2.jpg); height:200px">
              <div class="details">
                <span style="font-size: 19px;">Sentimos orgullo de lo que hemos creado.</span>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <h2 align="center">Mejoramos</h2>
            <a class="portfolio-item" style="background-image: url(images/mejorar.jpg); height:200px">
              <div class="details">
                <span style="font-size: 17px;">Impactamos de manera positiva en la sociedad.</span>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <h2 align="center">Confianza</h2>
            <a class="portfolio-item" style="background-image: url(images/confianza.jpg); height:200px">
              <div class="details">
                <span style="font-size: 19px;">Aprendemos entre nosotros.</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ul>
</section>

