@{
    ViewData["Title"] = "Búsqueda de pedidos";
}

<div class="container mt-5">

    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>Por medio de esta interfaz, tendré acceso a buscar los pedidos por medio de un filtro, ingresando los datos que requiero obtener.</p>

	<div class="row">
        <form  asp-action="ListarPedidos" method="GET" class="row g-3">
  <div class="col-auto">
    <label>Usuario:</label>
    <input type="email" class="form-control" name="usuario" placeholder="example@gmail.com">
  </div>
  <div class="col-auto">
    <label>Fecha Inicio:</label>
    <input type="date" class="form-control" name="fechaInicio" placeholder="">
  </div>
  <div class="col-auto">
    <label>Fecha Fin:</label>
    <input type="date" class="form-control" name="fechaFin" placeholder="">
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-danger">Buscar Pago</button>
    <input type="reset" class="btn btn-danger" value="Limpiar">
  </div>
</form>
    </div>
</div>