@model Inkasign.Models.Proforma

@{
    ViewData["Title"] = "Editar Cantidad del Producto";
}

<center><h1>@ViewData["Title"]</h1></center><br>
<div>
    <a class="btn btn-danger"asp-action="Index">Volver atrás</a>
</div><br>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Proforma" asp-action="Edit" id=formulario>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-danger" style="color:white;"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 